body{
    width: 100vw;
    height: 100vh;
    background-color: wheat;
}

#conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado{
    display: flex;
    gap: 20px;
    align-items: center;
}

h1{
    margin: 20px;
}

.input_box{
    max-width: 50px;
}

#input_box{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}